.theme-block
{
    display: flex;
    align-items: center;
    --slider-width: 40px;
    --slider-height: 24px;
    &__checkbox
    {
        display: none;
        &:checked + .theme-block__slider
        {
            background-color: transparent;
        }
        &:checked + .theme-block__slider::before
        {
            left: calc(100% - (var(--slider-height) - 7px));
        }
    }
    &__slider
    {
        background-color: transparent;
        border: 1px solid rgba(var(--ui-color-border-theme), 1.0);
        border-radius: 20px;
        cursor: pointer;
        transition: all .4s ease-in-out;
        width: var(--slider-width);
        height: var(--slider-height);
        position: relative;
        &::before
        {
            content: '';
            background-color: rgba(var(--ui-color-primary), 1.0);
            position: absolute;
            width: calc(var(--slider-height) - 10px);
            height: calc(var(--slider-height) - 10px);
            border-radius: 50%;
            top: 50%;
            transform: translateY(-50%);
            left: 2px;
            transition: all .4s ease-in-out;
        }
    }
}
